In [1]:
import os
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 55)
pd.set_option('display.max_rows', None)

## Read files into Dataframe

In [2]:
organization_id = "jbhunt"
data_path = f'../data/{organization_id}/'

files = []
driver_data = []
load_data = []

try:
    for i in os.listdir(data_path):
        if os.path.isfile(os.path.join(data_path,i)):
            files.append(i)
except FileNotFoundError:
    print("PLEASE MAKE SURE THE DATA PATH LEADS TO THE DATA DIRECTORY WHERE THE DATA FILES ARE LOCATED\n")   
except NameError:
    print("PLEASE INSERT A VALID PATH STRING TO THE DATA DIRECTORY\n")

if '.DS_Store' in files:
    files.remove('.DS_Store')
for file in files:
    if "driver" in file.lower():
        driver_data.append(pd.read_csv(data_path + file, low_memory=False))
    else:
        load_data.append(pd.read_csv(data_path + file, low_memory=False))
    
load_data_combined_df = pd.concat(load_data, ignore_index=True)
driver_data_combined_df = pd.concat(driver_data, ignore_index=True)
print(load_data_combined_df.info())
display(load_data_combined_df.head())
print(driver_data_combined_df.info())
display(driver_data_combined_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481018 entries, 0 to 481017
Data columns (total 48 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ORDER_NBR                  481018 non-null  object
 1   EMPTY_OR_LOADED            481018 non-null  object
 2   NBR_OF_DISPATCHES          481018 non-null  int64
 3   NBR_OF_DROPS               481018 non-null  int64
 4   NBR_OF_PICKUPS             481018 non-null  int64
 5   NBR_OF_TOTAL_STOPS         481018 non-null  int64
 6   OZIP                       481018 non-null  object
 7   DZIP                       481018 non-null  object
 8   PICKUP_EARLIEST_WINDOW     481018 non-null  object
 9   PICKUP_LATEST_WINDOW       481018 non-null  object
 10  DEST_EARLIEST_WINDOW       481018 non-null  object
 11  DEST_LATEST_WINDOW         481018 non-null  object
 12  PICKUP_ACTUAL_ARRIVAL      481018 non-null  object
 13  PICKUP_ACTUAL_DEPARTURE    481018 non-null  object
 14  DELIVERY_ACTUAL_ARRIVAL    481018 non-null  object
 15  DELIVERY_ACTUAL_DEPARTURE  481018 non-null  object
 16  POWER_TYPE                 478984 non-null  object
 17  ORIGIN_LIVE_LOAD           481018 non-null  object
 18  DEST_LIVE_UNLOAD           481018 non-null  object
 19  PICK_DROP_TRAILER          481018 non-null  object
 20  DEST_DROP_TRAILER          481018 non-null  object
 21  ORDER_TIME                 481018 non-null  object
 22  ORBCOMM_EMPTIED            398432 non-null  object
 23  Drop Time                  398432 non-null  object
 24  Hours to Unload            398432 non-null  object
 25  EDI Tender Time            480897 non-null  object
 26  TENDER_STAMP               54673 non-null   object
 27  COMMODITY_TYPE             481018 non-null  object
 28  WEIGHT                     481018 non-null  int64
 29  DRIVER_ID                  478984 non-null  object
 30  SHIPPER_ID                 481018 non-null  object
 31  Receiver Code              480897 non-null  object
 32  Power Type                 480880 non-null  object
 33  Bill-To Code               480880 non-null  object
 34  High Value                 481018 non-null  object
 35  HAZMAT_FLAG                481018 non-null  object
 36  LOADED_MILES               481018 non-null  int64
 37  EMPTY_MILES                481018 non-null  int64
 38  LINEHAUL_REVENUE           481018 non-null  float64
 39  FUEL_REVENUE               481018 non-null  float64
 40  ACCESSORIAL_CHARGES        481018 non-null  float64
 41  TOTAL_PTE                  470564 non-null  float64
 42  Carrier Cost               480880 non-null  float64
 43  TRAILER_COST               470564 non-null  float64
 44  FLAT_OVERHEAD_COST         470564 non-null  float64
 45  OVERHEAD_PCT_REV           470564 non-null  float64
 46  TOTAL_COST                 470564 non-null  float64
 47  PICKUP_DATE                477419 non-null  object
dtypes: float64(9), int64(7), object(32)
memory usage: 176.2+ MB
None

,ORDER_NBR,EMPTY_OR_LOADED,NBR_OF_DISPATCHES,NBR_OF_DROPS,NBR_OF_PICKUPS,NBR_OF_TOTAL_STOPS,OZIP,DZIP,PICKUP_EARLIEST_WINDOW,PICKUP_LATEST_WINDOW,DEST_EARLIEST_WINDOW,DEST_LATEST_WINDOW,PICKUP_ACTUAL_ARRIVAL,PICKUP_ACTUAL_DEPARTURE,DELIVERY_ACTUAL_ARRIVAL,DELIVERY_ACTUAL_DEPARTURE,POWER_TYPE,ORIGIN_LIVE_LOAD,DEST_LIVE_UNLOAD,PICK_DROP_TRAILER,DEST_DROP_TRAILER,ORDER_TIME,ORBCOMM_EMPTIED,Drop Time,Hours to Unload,EDI Tender Time,TENDER_STAMP,COMMODITY_TYPE,WEIGHT,DRIVER_ID,SHIPPER_ID,Receiver Code,Power Type,Bill-To Code,High Value,HAZMAT_FLAG,LOADED_MILES,EMPTY_MILES,LINEHAUL_REVENUE,FUEL_REVENUE,ACCESSORIAL_CHARGES,TOTAL_PTE,Carrier Cost,TRAILER_COST,FLAT_OVERHEAD_COST,OVERHEAD_PCT_REV,TOTAL_COST,PICKUP_DATE
0,T407587,L,2,0,0,0,49512,42101,2020-04-01 07:00:00,2020-04-01 20:00:00,2020-04-02 11:00:00,2020-04-02 11:00:00,2020-04-01 07:00:00,2020-04-01 08:00:00,2020-04-02 11:00:00,2020-04-02 11:30:00,PCS,Y,Y,N,N,2020-03-25 10:34:00,2020-05-15 11:28:05,2020-04-02 11:30:00,1031.968056,::,NaN,SOAPS,1,JR2Q14,ADGR2,THBO38,PCS,DISC59,N,N,0,9,952.00,120.31,0.0,0.0,0.00,0.00,27.32,53.31,83.85,4/1/20
1,T434052,L,3,0,0,0,46041,43701,2020-04-01 00:01:00,2020-04-01 23:59:00,2020-04-04 00:01:00,2020-04-04 13:00:00,2020-04-01 08:00:00,2020-04-01 08:30:00,2020-04-02 08:00:00,2020-04-02 08:30:00,PCS,Y,Y,N,N,2020-03-26 07:30:00,2020-05-15 12:31:48,2020-04-02 08:30:00,1036.03,2020-03-25 18:43:51,NaN,DRY GROCER,1,SOFU02,FRFRC3,DGZA2,PCS,COOM51,N,N,0,4,573.00,69.38,0.0,0.0,0.00,0.00,39.08,51.57,114.92,4/1/20
2,TX61180,L,1,0,0,0,49519,46705,2020-04-01 16:00:00,2020-04-01 17:00:00,2020-04-01 21:00:00,2020-04-01 21:00:00,2020-04-01 18:45:00,2020-04-01 20:54:00,2020-04-01 21:28:00,2020-04-02 12:49:00,PCS,Y,Y,N,N,2020-03-06 10:13:00,2020-04-12 23:47:00,2020-04-02 12:49:00,250.9666667,2020-03-06 09:06:45,NaN,HOUSEWARES,8750,JR2Q14,RLWY3,FAAS16,PCS,DOCHD4,N,N,126,6,466.00,34.75,0.0,0.0,216.84,0.37,23.73,26.09,281.88,4/1/20
3,T444665,L,2,0,0,0,52402,40010,2020-04-01 00:05:00,2020-04-01 23:55:00,2020-04-02 00:05:00,2020-04-02 23:55:00,2020-04-01 10:00:00,2020-04-01 11:00:00,2020-04-02 01:00:00,2020-04-02 02:00:00,IC/LP,N,Y,Y,N,2020-03-26 10:57:00,2020-04-02 18:21:00,2020-04-02 02:00:00,16.35,2020-03-26 10:21:36,NaN,GROCERY,11111,WELA7,RFCE11,COBUAK,IC/LP,TRPR36,N,N,0,70,1037.16,146.82,0.0,0.0,0.00,9.48,33.87,74.67,345.02,4/1/20
4,T470819,L,1,0,0,0,29650,29842,2020-04-01 07:00:00,2020-04-01 17:00:00,2020-04-01 00:05:00,2020-04-01 23:55:00,2020-04-01 08:34:00,2020-04-01 10:37:00,2020-04-01 13:33:00,2020-04-01 14:17:00,IC/LP,Y,Y,N,N,2020-03-27 07:37:00,2020-04-02 20:26:00,2020-04-01 14:17:00,30.15,2020-03-27 07:26:27,NaN,PAPER PROD,20446,WILS37,KCGR2,KCBI,IC/LP,KIKN62,N,N,126,0,381.44,29.62,0.0,0.0,0.00,4.92,33.87,27.46,364.00,4/1/20

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Driver ID                              1331 non-null   object
 1   Driver First Name                      0 non-null      float64
 2   Driver Last Name                       0 non-null      float64
 3   Terminal City                          0 non-null      float64
 4   Terminal State                         0 non-null      float64
 5   Home or Home Terminal Zip Code         0 non-null      float64
 6   Home City                              1331 non-null   object
 7   Home State                             1331 non-null   object
 8   Home Zip Code                          1331 non-null   object
 9   Driver Type (as listed in parameters)  1331 non-null   object
 10  Permits                                0 non-null      float64
 11  Subnetwork ID (if applicable)          0 non-null      float64
 12  Equipment Type                         1331 non-null   object
 13  Trailer ID                             0 non-null      float64
dtypes: float64(8), object(6)
memory usage: 145.7+ KB
None

,Driver ID,Driver First Name,Driver Last Name,Terminal City,Terminal State,Home or Home Terminal Zip Code,Home City,Home State,Home Zip Code,Driver Type (as listed in parameters),Permits,Subnetwork ID (if applicable),Equipment Type,Trailer ID
0,AARR,NaN,NaN,NaN,NaN,NaN,FORT WORTH,TX,76135,IC/LP,NaN,NaN,Dry Van,NaN
1,ABAR2,NaN,NaN,NaN,NaN,NaN,CHICAGO,IL,60629,IC/LP,NaN,NaN,Dry Van,NaN
2,ADAQ0,NaN,NaN,NaN,NaN,NaN,BENNETTSVILLE,SC,29512,IC/LP,NaN,NaN,Dry Van,NaN
3,ADDJ2,NaN,NaN,NaN,NaN,NaN,CRAWFORDSVILLE,IN,47933,IC/LP,NaN,NaN,Dry Van,NaN
4,AFAK,NaN,NaN,NaN,NaN,NaN,TIFFIN,IA,52340,IC/LP,NaN,NaN,Dry Van,NaN

## Convert .csv to .tsv

In [3]:
load_data_combined_df.to_csv('../data/jbhunt/tsv_files/loads.tsv', sep='\t', index=False)
driver_data_combined_df.to_csv('../data/jbhunt/tsv_files/drivers.tsv', sep='\t', index=False)

## Map column names to OD standard column names

In [ ]:
#  Import configuration files for mapping

# map_stops_columns = {
#     "ORD_HDRNUMBER": "LOAD_ID",
#     "ORD_BILLTO": "SHIPPER_ID",
#     "ORD_ORIGIN_ZIP": "ORIG",
#     "ORD_DEST_ZIP": "DEST",
#     "ORD_BOOKDATE": "ORDER_CALL",
#     "REV_TOT": "TOTAL_REV",
#     "REV_LHF": "LINE_HAUL_REV",
#     "REV_FSC": "FUEL_CHARGE",
#     "REV_ACC": "OTHER_REV",
#     "LGH_NUMBER": "STOP_ID",
#     "LGH_DRIVER": "DRVR_ID",
#     "LGH_TRACTOR": "STOP_TRACTOR",
#     "STP_MFH_SEQUENCE": "STOP_SEQ",
#     "STP_TYPE": "STOP_TYPE",
#     "STP_EVENT": "STOP_EVENT",
#     "STP_EVENT_DESC": "STOP_EVENT_DESC",
#     "STP_LOADSTATUS_GROUP": "STOP_LOADED",
#     "STP_ZIPCODE": "STOP_ZIP",
#     "STP_SCHDTEARLIEST": "STOP_APPT_ST",
#     "STP_SCHDTLATEST": "STOP_APPT_END",
#     "STP_ARRIVALDATE": "STOP_ACTUAL_ARRIVAL",
#     "STP_DEPARTUREDATE": "STOP_ACTUAL_DEPARTURE",
#     "STP_LGH_MILEAGE": "STOP_MILEAGE",
#     "PC_NO": "PROFIT_CENTER_NUMBER",
#     "PC_NAME": "PROFIT_CENTER_NAME",
#     "PC_LVL1": "PROFIT_CENTER_LEVEL1"
# }

mapped_stops_df = load_data_combined_df.copy(deep=True)
mapped_stops_df = mapped_stops_df.rename(columns=map_stops_columns)
display(mapped_stops_df.info())

## Custom Data Checks - JB Hunt

In [30]:
# display(load_data_combined_df[load_data_combined_df['NBR_OF_TOTAL_STOPS'] == 4])
display(load_data_combined_df.info())
# display(load_data_combined_df.head())
display(load_data_combined_df['POWER_TYPE'].value_counts())
# display(load_data_combined_df['SHIPPER_ID'] == '?T')
# display(driver_data_combined_df.info())
# display(driver_data_combined_df['Driver ID'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481018 entries, 0 to 481017
Data columns (total 48 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ORDER_NBR                  481018 non-null  object
 1   EMPTY_OR_LOADED            481018 non-null  object
 2   NBR_OF_DISPATCHES          481018 non-null  int64
 3   NBR_OF_DROPS               481018 non-null  int64
 4   NBR_OF_PICKUPS             481018 non-null  int64
 5   NBR_OF_TOTAL_STOPS         481018 non-null  int64
 6   OZIP                       481018 non-null  object
 7   DZIP                       481018 non-null  object
 8   PICKUP_EARLIEST_WINDOW     481018 non-null  object
 9   PICKUP_LATEST_WINDOW       481018 non-null  object
 10  DEST_EARLIEST_WINDOW       481018 non-null  object
 11  DEST_LATEST_WINDOW         481018 non-null  object
 12  PICKUP_ACTUAL_ARRIVAL      481018 non-null  object
 13  PICKUP_ACTUAL_DEPARTURE    481018 non-null  object
 14  DELIVERY_ACTUAL_ARRIVAL    481018 non-null  object
 15  DELIVERY_ACTUAL_DEPARTURE  481018 non-null  object
 16  POWER_TYPE                 478984 non-null  object
 17  ORIGIN_LIVE_LOAD           481018 non-null  object
 18  DEST_LIVE_UNLOAD           481018 non-null  object
 19  PICK_DROP_TRAILER          481018 non-null  object
 20  DEST_DROP_TRAILER          481018 non-null  object
 21  ORDER_TIME                 481018 non-null  object
 22  ORBCOMM_EMPTIED            398432 non-null  object
 23  Drop Time                  398432 non-null  object
 24  Hours to Unload            398432 non-null  object
 25  EDI Tender Time            480897 non-null  object
 26  TENDER_STAMP               54673 non-null   object
 27  COMMODITY_TYPE             481018 non-null  object
 28  WEIGHT                     481018 non-null  int64
 29  DRIVER_ID                  478984 non-null  object
 30  SHIPPER_ID                 481018 non-null  object
 31  Receiver Code              480897 non-null  object
 32  Power Type                 480880 non-null  object
 33  Bill-To Code               480880 non-null  object
 34  High Value                 481018 non-null  object
 35  HAZMAT_FLAG                481018 non-null  object
 36  LOADED_MILES               481018 non-null  int64
 37  EMPTY_MILES                481018 non-null  int64
 38  LINEHAUL_REVENUE           481018 non-null  float64
 39  FUEL_REVENUE               481018 non-null  float64
 40  ACCESSORIAL_CHARGES        481018 non-null  float64
 41  TOTAL_PTE                  470564 non-null  float64
 42  Carrier Cost               480880 non-null  float64
 43  TRAILER_COST               470564 non-null  float64
 44  FLAT_OVERHEAD_COST         470564 non-null  float64
 45  OVERHEAD_PCT_REV           470564 non-null  float64
 46  TOTAL_COST                 470564 non-null  float64
 47  PICKUP_DATE                477419 non-null  object
dtypes: float64(9), int64(7), object(32)
memory usage: 176.2+ MB

None

BROKERAGE    215130
IC/LP        132941
PCS           94975
ASSET         35938
Name: POWER_TYPE, dtype: int64