# Discovery File Validation Notebook
### Description: 
This notebook is intended to automate validation for discovery files
and provide questions/examples for the client about the provided data files

In [32]:
import os
import numpy as np
import pandas as pd

## Read in files from data directory and create Dataframes for each file

In [36]:
file_types = [
    'companies',
    'customers', 
    'drivers', 
    'moves', 
    'orders', 
    'stops', 
    'tractors',
    'trailers'
    ]

data_path = '../data/amx/'

files = []
data = {}
files_received = []
for i in os.listdir(data_path):
    if os.path.isfile(os.path.join(data_path,i)):
        files.append(i)

for file in files:
    file_type = file.split('-')[0]
    data[file_type] = pd.read_csv(data_path + file, sep='\t')

for file in file_types:
    try:
        data[file]
        files_received.append(file)
    except KeyError:
        print(f'The {file} file is missing from the data folder')

for file in files_received:
    print(f"{file} - {type(data[file])}")

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

companies - <class 'pandas.core.frame.DataFrame'>
customers - <class 'pandas.core.frame.DataFrame'>
drivers - <class 'pandas.core.frame.DataFrame'>
moves - <class 'pandas.core.frame.DataFrame'>
orders - <class 'pandas.core.frame.DataFrame'>
stops - <class 'pandas.core.frame.DataFrame'>
tractors - <class 'pandas.core.frame.DataFrame'>
trailers - <class 'pandas.core.frame.DataFrame'>

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Validation for each file

#### Drivers File

In [37]:
driver_df = data['drivers']

print(driver_df.info(verbose = True))
print("\n")
print("TYPE_OF - COUNTS")
print(driver_df['type_of'].value_counts())
print("\n")
print('COUNTRY_HOS_RULES - COUNTS')
print(driver_df['country_hos_rules'].value_counts())
print("\n")
print('GROUP_ID - COUNTS')
print(driver_df['group_id'].value_counts())
print("\n")
print('DRIVERS WITH ONDUTY HOURS OUTSIDE NORM')
avl_onduty_hours_df = driver_df[(driver_df['avl_onduty_hours'] < 0) | (driver_df['avl_onduty_hours'] > 14)]
print(avl_onduty_hours_df[['avl_onduty_hours']])
print('\n')
print('DRIVERS WITH AVALABLE DRIVER HOURS OUTSIDE NORM')
avl_drive_hours_df = driver_df[(driver_df['avl_drive_hours'] < 0) | (driver_df['avl_drive_hours'] > 11)]
print(avl_drive_hours_df[['avl_drive_hours']])
print('\n')
print("TERMINATED DRIVERS WITH TRUE ACTIVE STATUS")
terminated_drivers_df = driver_df[(driver_df['termination_date'] > driver_df['hire_date'])]
print(terminated_drivers_df[['is_active', 'termination_date', 'hire_date']].loc[terminated_drivers_df['is_active'] == True])
print('\n')
print("REHIRED DRIVERS WITH FALSE ACTIVE STATUS")
rehired_drivers_df = driver_df[(driver_df['termination_date'] < driver_df['hire_date'])]
print(rehired_drivers_df[['is_active', 'termination_date', 'hire_date']].loc[rehired_drivers_df['is_active'] == False])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   is_active            503 non-null    bool
 1   latitude             503 non-null    float64
 2   type_of              503 non-null    object
 3   last_home_date       24 non-null     object
 4   __currentMovementId  503 non-null    int64
 5   state                503 non-null    object
 6   termination_date     287 non-null    object
 7   hazmat_certified     503 non-null    bool
 8   event_date           492 non-null    object
 9   country_hos_rules    503 non-null    object
 10  first_name           502 non-null    object
 11  group_id             461 non-null    object
 12  fleet_manager        441 non-null    object
 13  company_id           503 non-null    object
 14  license_date         503 non-null    object
 15  hire_date            503 non-null    object
 16  longitude            503 non-null    float64
 17  tanks_endorsement    503 non-null    bool
 18  doubles_certified    503 non-null    bool
 19  avl_drive_hours      492 non-null    float64
 20  dri_uid              503 non-null    int64
 21  event_status         492 non-null    object
 22  currenteqpgrpid      503 non-null    object
 23  avl_onduty_hours     492 non-null    float64
 24  city                 503 non-null    object
 25  avl_as_of_date       492 non-null    object
 26  id                   503 non-null    object
 27  zip                  503 non-null    int64
 28  pta_date             406 non-null    object
 29  name                 503 non-null    object
dtypes: bool(4), float64(4), int64(3), object(19)
memory usage: 104.3+ KB
None


TYPE_OF - COUNTS
C    458
O     45
Name: type_of, dtype: int64


COUNTRY_HOS_RULES - COUNTS
U    503
Name: country_hos_rules, dtype: int64


GROUP_ID - COUNTS
OTR     189
REG     133
REEF    104
D        19
LOC       9
REGJ      4
OTRJ      2
JACK      1
Name: group_id, dtype: int64


DRIVERS WITH ONDUTY HOURS OUTSIDE NORM
     avl_onduty_hours
1              -99.83
4               -3.23
13              -3.00
17             -99.83
31             -99.83
44             -99.83
79             -99.83
101             -0.38
185             -0.05
200            -99.83
223            -99.83
244             -3.17
295            -99.83
312             -7.33
316             -0.10
325             -3.78
328            -99.83
335            -99.83
338             -0.22
432            -99.98
438             -1.15
459            -99.83
461             -1.25
471             -0.02
481            -99.83
483             -6.73
496             -1.75


DRIVERS WITH AVALABLE DRIVER HOURS OUTSIDE NORM
Empty DataFrame
Columns: [avl_drive_hours]
Index: []


TERMINATED DRIVERS WITH TRUE ACTIVE STATUS
     is_active           termination_date                  hire_date
17        True  2021-11-09 06:00:00+00:00  2021-05-03 05:00:00+00:00
124       True  2021-11-11 06:00:00+00:00  2021-04-05 05:00:00+00:00
182       True  2021-11-10 06:00:00+00:00  2021-11-01 05:00:00+00:00
323       True  2021-11-12 06:00:00+00:00  2020-01-27 06:00:00+00:00
324       True  2021-10-13 05:00:00+00:00  2012-04-23 05:00:00+00:00
328       True  2021-10-11 05:00:00+00:00  2020-12-14 06:00:00+00:00
367       True  2021-11-12 06:00:00+00:00  2021-07-26 05:00:00+00:00
372       True  2021-10-12 05:00:00+00:00  2019-07-01 05:00:00+00:00
392       True  2021-09-30 05:00:00+00:00  2021-08-23 05:00:00+00:00
489       True  2021-10-13 05:00:00+00:00  2021-09-20 05:00:00+00:00


REHIRED DRIVERS WITH FALSE ACTIVE STATUS
Empty DataFrame
Columns: [is_active, termination_date, hire_date]
Index: []

#### Moves File

In [4]:
moves_df = data['moves']

print(moves_df.info(verbose = True))
print("\n")
print('MOVE_STATUS - COUNTS')
print(moves_df['move_status'].value_counts())
print("\n")
print('LOADED - COUNTS')
print(moves_df['loaded'].value_counts())
print("\n")
print('ORDER_ID - BLANKS')
order_id_df = moves_df['order_id'].isnull()
print(order_id_df)
print("\n")
print('PRORATED_REVENUE - NEGATIVE')
prorated_revenue_df = moves_df[(moves_df['prorated_revenue'] < 0)]
print(prorated_revenue_df[['prorated_revenue']])
print("\n")
print('BROKERAGE - COUNTS')
print(moves_df['brokerage'].value_counts())
print("\n")
print('MOVE_DISTANCE - OUT OF BOUNDS (<0 OR >4000)')
move_distance_df = moves_df[(moves_df['move_distance'] < 0)|(moves_df['move_distance'] > 4000)]
print(move_distance_df[['move_distance']])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209261 entries, 0 to 209260
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   move_status       209261 non-null  object
 1   is_preassignment  133450 non-null  object
 2   loaded            209261 non-null  object
 3   order_id          197736 non-null  float64
 4   prorated_revenue  129573 non-null  float64
 5   trailer_id        137152 non-null  object
 6   id                209261 non-null  int64
 7   driver_id         133450 non-null  object
 8   brokerage         209261 non-null  bool
 9   move_distance     209237 non-null  float64
 10  tractor_id        134556 non-null  object
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 16.2+ MB
None


MOVE_STATUS - COUNTS
D    208684
P       407
A       170
Name: move_status, dtype: int64


LOADED - COUNTS
L    129578
E     79683
Name: loaded, dtype: int64


ORDER_ID - BLANKS
0          True
1          True
2          True
3          True
4          True
          ...
209256    False
209257    False
209258    False
209259    False
209260    False
Name: order_id, Length: 209261, dtype: bool


PRORATED_REVENUE - NEGATIVE
Empty DataFrame
Columns: [prorated_revenue]
Index: []


BROKERAGE - COUNTS
False    144865
True      64396
Name: brokerage, dtype: int64


MOVE_DISTANCE - OUT OF BOUNDS (<0 OR >4000)
Empty DataFrame
Columns: [move_distance]
Index: []

#### Orders File

In [5]:
orders_df = data['orders']

print(orders_df.info(verbose = True))
print("\n")
print('STATUS - COUNTS')
print(orders_df['status'].value_counts())
print("\n")
print('COMMODITY_ID - COUNTS')
print(orders_df['commodity_id'].value_counts())
print("\n")
print('REVENUE_CODE_ID - COUNTS')
print(orders_df['revenue_code_id'].value_counts())
print("\n")
print('CUSTOMER_ID - BLANKS')
print(orders_df[orders_df['customer_id'].isnull()])
print('\n')
print('CUSTOMER_ID - COUNTS TOP 10')
print(orders_df['customer_id'].value_counts().head(10))
print("\n")
print('CUSTOMER_ID - BL')
print(orders_df['customer_id'].value_counts())
print("\n")
print('ORDERED_DATE - BLANKS')
print(orders_df[orders_df['ordered_date'].isnull()])
print("\n")
print('BILL_DISTANCE - OUT OF BOUNDS (<0 OR >4000)')
print(orders_df[(orders_df['bill_distance'] < 0)|(orders_df['bill_distance'] > 4000)])
print("\n")
print('FREIGHT_CHARGE - NEGATIVE')
print(orders_df[orders_df['freight_charge'] < 0])
print("\n")
print('OTHERCHARGETOTAL - NEGATIVE')
print(orders_df[orders_df['otherchargetotal'] < 0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119634 entries, 0 to 119633
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   pallets_how_many  7897 non-null    float64
 1   status            119634 non-null  object
 2   bill_distance     119633 non-null  float64
 3   freight_charge    119634 non-null  float64
 4   entered_user_id   119634 non-null  object
 5   commodity_id      89077 non-null   object
 6   weight            119494 non-null  float64
 7   id                119634 non-null  int64
 8   revenue_code_id   119634 non-null  object
 9   otherchargetotal  119634 non-null  float64
 10  customer_id       119634 non-null  object
 11  ordered_date      119634 non-null  object
dtypes: float64(5), int64(1), object(6)
memory usage: 11.0+ MB
None


STATUS - COUNTS
D    119051
P       440
A       137
V         6
Name: status, dtype: int64


COMMODITY_ID - COUNTS
FOOD         17619
PA           11989
PAPERPRDS    10087
MISC          9206
BROKER        8803
FAK           6787
BLDGMTLS      6144
PKGMTLS       4686
PLASTIC       4682
TOBPRODS      2201
HVAC           875
FLOORING       806
CH             770
AUTO           739
PETSUP         677
ALCOHOL        570
PROLL          452
AIRCOND        425
TEXTILE        262
FERTILIZE      226
LUMBER         181
FURNITURE      163
BEVERAGE       147
MATTRESS       118
SCRAP          107
ANIMALFOO      103
NYLON           51
ELEC            41
RECYCLE         32
EBOTTLES        29
HEAVY           23
BEER            18
GLOVES          17
CHEM            13
COSME            8
AIR              6
FORKLIFT         6
MP               4
WIRE             2
ADIPIC           1
SNACK            1
Name: commodity_id, dtype: int64


REVENUE_CODE_ID - COUNTS
LS       23718
OTR      20399
ATL      16670
REGL     16180
L        12413
REEF      6940
DED       5962
NC        4141
FRTC      4099
FRTB      1682
CCDF      1498
SAVVY     1409
JBECK     1197
BAB       1052
BGRED      923
ERAHN      523
DR         296
JACK       198
CARA       187
BB         147
Name: revenue_code_id, dtype: int64


CUSTOMER_ID - BLANKS
Empty DataFrame
Columns: [pallets_how_many, status, bill_distance, freight_charge, entered_user_id, commodity_id, weight, id, revenue_code_id, otherchargetotal, customer_id, ordered_date]
Index: []


CUSTOMER_ID - COUNTS TOP 10
AMXLDOAL    7721
SHERCLOH    6720
CHROCHIL    5342
INDODEAL    3105
REDBBRTN    2984
BEHRSACA    2915
WAYNOAGA    2810
INGESTMO    2730
FAMICHNC    2450
GEORELTX    2424
Name: customer_id, dtype: int64


CUSTOMER_ID - BL
AMXLDOAL    7721
SHERCLOH    6720
CHROCHIL    5342
INDODEAL    3105
REDBBRTN    2984
            ...
MOTONOOH       1
GENELAFL       1
ROADBINY       1
STONMIMN       1
MORTCHIL       1
Name: customer_id, Length: 1144, dtype: int64


ORDERED_DATE - BLANKS
Empty DataFrame
Columns: [pallets_how_many, status, bill_distance, freight_charge, entered_user_id, commodity_id, weight, id, revenue_code_id, otherchargetotal, customer_id, ordered_date]
Index: []


BILL_DISTANCE - OUT OF BOUNDS (<0 OR >4000)
       pallets_how_many status  bill_distance  freight_charge entered_user_id  \
7895                NaN      D        11128.0         2007.84        lhohbach
42832               NaN      D         5422.0         8500.00         aholmes
43931               NaN      D       251261.0         1164.64       adellaera
46405               NaN      D        30000.0         3783.04        theebner

      commodity_id   weight       id revenue_code_id  otherchargetotal  \
7895          FOOD  25000.0  5098854              LS            353.76
42832          NaN      0.0   274099            REEF              0.00
43931         FOOD  41205.0  5121895             ATL            280.32
46405         FOOD  42851.5  5124837              LS              0.00

      customer_id               ordered_date
7895     DSCLDEIL  2020-07-01 23:20:00+00:00
42832    SCOTFOFL  2021-03-25 19:24:00+00:00
43931    LINEOMNE  2021-03-10 14:20:00+00:00
46405    EAGLBRTN  2021-04-08 19:34:00+00:00


FREIGHT_CHARGE - NEGATIVE
Empty DataFrame
Columns: [pallets_how_many, status, bill_distance, freight_charge, entered_user_id, commodity_id, weight, id, revenue_code_id, otherchargetotal, customer_id, ordered_date]
Index: []


OTHERCHARGETOTAL - NEGATIVE
        pallets_how_many status  bill_distance  freight_charge  \
4246                 NaN      D         1599.0         4598.00
4884                 NaN      D         1085.0         1700.00
6313                 NaN      D         1110.0         3500.00
6506                 NaN      D         1294.0         2795.00
6858                 NaN      D         1092.0         3400.00
...                  ...    ...            ...             ...
117927               NaN      D          783.0         2623.05
117929               NaN      D          783.0         2623.05
117930               NaN      D          783.0         2623.05
117933               NaN      D          839.0         2206.57
118103               NaN      D          488.0         1932.48

       entered_user_id commodity_id   weight       id revenue_code_id  \
4246           aheller         FOOD  25635.0  5099222             ATL
4884           jbecker          NaN      0.0  5099954           JBECK
6313           aheller         FOOD  32500.0  5101631             ATL
6506           aheller         FOOD  35000.0  5101852             ATL
6858           aheller         FOOD  30000.0  5102267             ATL
...                ...          ...      ...      ...             ...
117927         cwright     BLDGMTLS  43000.0  5149830            CCDF
117929         cwright     BLDGMTLS  43000.0  5149832            CCDF
117930         cwright     BLDGMTLS  43000.0  5149833            CCDF
117933         cwright     BLDGMTLS  43000.0  5149836            CCDF
118103         cwright     BLDGMTLS  43000.0  5150024            CCDF

        otherchargetotal customer_id               ordered_date
4246              -76.20    MITSDATX  2020-07-07 15:25:00+00:00
4884             -916.13    AMALTAFL  2020-07-14 17:02:00+00:00
6313             -215.00    MITSDATX  2020-08-03 20:35:00+00:00
6506             -166.20    MITSDATX  2020-08-06 16:33:00+00:00
6858             -110.00    MITSDATX  2020-08-12 13:25:00+00:00
...                  ...         ...                        ...
117927            -26.48    JOHNNAIL  2021-10-28 18:22:00+00:00
117929            -26.48    JOHNNAIL  2021-10-28 18:23:00+00:00
117930            -26.48    JOHNNAIL  2021-10-28 18:23:00+00:00
117933            -22.32    JOHNNAIL  2021-10-28 18:50:00+00:00
118103            -19.57    JOHNNAIL  2021-10-29 18:52:00+00:00

[278 rows x 12 columns]

#### Stops File

In [29]:
stops_df = data['stops']

print(stops_df.info(verbose = True))
print("\n")
print('ACTUAL_ARRIVAL - BLANKS')
actual_arrival_df = stops_df[stops_df['actual_arrival'].isnull()]
print(actual_arrival_df[['actual_arrival']])
print("\n")
print('ACTUAL_DEPARTURE - BLANKS')
actual_departure_df = stops_df[stops_df['actual_departure'].isnull()]
print(actual_departure_df[['actual_departure']])
print("\n")
print('STOP_TYPE - COUNTS')
print(stops_df['stop_type'].value_counts())
print("\n")
print('SCHED_ARRIVE_EARLY - BLANKS')
sched_arrive_early_df = stops_df[stops_df['sched_arrive_early'].isnull()]
print(sched_arrive_early_df[['sched_arrive_early']])
print("\n")
print('SCHED_ARRIVE_LATE - BLANKS')
sched_arrive_late_df = stops_df[stops_df['sched_arrive_late'].isnull()]
print(sched_arrive_late_df[['sched_arrive_late']])
print("\n")
print('ZIP_CODE - BLANKS')
zip_code_blank_df = stops_df[stops_df['zip_code'].isnull()]
print(zip_code_blank_df[['zip_code']])
print("\n")
print('ZIP_CODE - INCORRECT FORMAT - Too Short')
zip_code_short_df = stops_df[(stops_df['zip_code'].str.len() < 5)]
print(zip_code_short_df[['zip_code']])
print("\n")
print('ZIP_CODE - INCORRECT FORMAT - Too Long')
zip_code_partition_hyphen_df = stops_df['zip_code'].str.partition('-')
zip_code_long_df = zip_code_partition_hyphen_df[(zip_code_partition_hyphen_df[0].str.len() > 5)]
zip_code_long_df = zip_code_long_df.rename(columns={0: 'zip_code'})
print(zip_code_long_df[['zip_code']])
print("\n")
print('ZIP_CODE - INCORRECT FORMAT - Non-numeric Characters')
zip_code_no_hyphen_df = stops_df['zip_code'].str.replace('-', '')
zip_code_alpha_df = zip_code_no_hyphen_df[zip_code_no_hyphen_df.str.isnumeric() == False]
print(zip_code_alpha_df)
print("\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427036 entries, 0 to 427035
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   zip_code            426388 non-null  object
 1   address             415482 non-null  object
 2   state               427036 non-null  object
 3   order_id            267670 non-null  float64
 4   actual_arrival      426303 non-null  object
 5   city_name           427036 non-null  object
 6   driver_load_unload  427036 non-null  object
 7   actual_departure    426225 non-null  object
 8   sched_arrive_late   309235 non-null  object
 9   address2            61599 non-null   object
 10  id                  427036 non-null  object
 11  sched_arrive_early  427036 non-null  object
 12  move_id             427036 non-null  int64
 13  stop_type           427036 non-null  object
 14  movement_sequence   427036 non-null  int64
 15  order_sequence      377007 non-null  float64
dtypes: float64(2), int64(2), object(12)
memory usage: 52.1+ MB
None


ACTUAL_ARRIVAL - BLANKS
       actual_arrival
547               NaN
558               NaN
568               NaN
569               NaN
571               NaN
...               ...
427031            NaN
427032            NaN
427033            NaN
427034            NaN
427035            NaN

[733 rows x 1 columns]


ACTUAL_DEPARTURE - BLANKS
       actual_departure
547                 NaN
558                 NaN
568                 NaN
569                 NaN
571                 NaN
...                 ...
427031              NaN
427032              NaN
427033              NaN
427034              NaN
427035              NaN

[811 rows x 1 columns]


STOP_TYPE - COUNTS
SO    205309
PU    201622
SP      9989
SD      9953
VA        85
VP        76
VN         2
Name: stop_type, dtype: int64


SCHED_ARRIVE_EARLY - BLANKS
Empty DataFrame
Columns: [sched_arrive_early]
Index: []


SCHED_ARRIVE_LATE - BLANKS
       sched_arrive_late
1                    NaN
2                    NaN
3                    NaN
4                    NaN
5                    NaN
...                  ...
426979               NaN
426980               NaN
426986               NaN
427031               NaN
427033               NaN

[117801 rows x 1 columns]


ZIP_CODE - BLANKS
       zip_code
170         NaN
197         NaN
221         NaN
278         NaN
427         NaN
...         ...
423027      NaN
423033      NaN
423690      NaN
424237      NaN
425497      NaN

[648 rows x 1 columns]


ZIP_CODE - INCORRECT FORMAT - Too Short
       zip_code
102736      495
102737      495
113536     0890
113554     0890
114000     0890
277167     R3H0
301219     L4K2
304836     K7H3


ZIP_CODE - INCORRECT FORMAT - Too Long
         zip_code
571      18020600
16346   315270907
16347   315270907
29333   402581989
29829      V6A2P3
...           ...
425952  272988454
426191  600146264
426309   18020600
426311   18020600
426584  605448702

[160 rows x 1 columns]


ZIP_CODE - INCORRECT FORMAT - Non-numeric Characters
29829     V6A2P3
108090    M6N0A9
108092    G7A1B1
108124    J6X4J3
109324    J6S0A7
109552    J6S0A7
110022    J6S0A7
110791    L4K2A6
114041    S0N1N0
114519    M9W4V8
115365    T5S2X2
136877    J3G4S5
141917    N8H5P2
141929    V3K6T1
166097    N8H5P2
231962    T5V1L8
233153    T6B2T3
277167      R3H0
301219      L4K2
304836      K7H3
383008    T5V1T4
383589    T5V1T4
385064    T6B2T3
387758    T6B2T3
389755    T2C1M8
389757    T2C1M8
414135    T6B2T3
421547    K8N5E9
Name: zip_code, dtype: object

#### Tractors File

#### Trailers File