# Discovery File Validation Notebook
### Description: 
This notebook is intended to automate validation for discovery files
and provide questions/examples for the client about the provided data files

In [1]:
import os
import numpy as np
import pandas as pd

## Read in files from data directory and create Dataframes for each file

In [12]:
file_types = [
    'companies',
    'customers', 
    'drivers', 
    'moves', 
    'orders', 
    'stops', 
    'tractors',
    'trailers'
    ]

# WRITE PATH TO DATA DIRECTORY BELOW 

data_path = '../data/amx/'
# data_path = '../data/reedtms/'

files = []
data = {}
files_received = []

try:
    for i in os.listdir(data_path):
        if os.path.isfile(os.path.join(data_path,i)):
            files.append(i)
except FileNotFoundError:
    print("PLEASE MAKE SURE THE DATA PATH LEADS TO THE DATA DIRECTORY WHERE THE DATA FILES ARE LOCATED\n")   
except NameError:
    print("PLEASE INSERT A VALID PATH STRING TO THE DATA DIRECTORY\n")

if '.DS_Store' in files:
    files.remove('.DS_Store')
for file in files:
    file_type = file.split('-')[0]
    data[file_type] = pd.read_csv(data_path + file, sep='\t')

for file in file_types:
    try:
        data[file]
        files_received.append(file)
    except KeyError:
        print(f'** The {file} file is missing from the data folder **'.upper())

if len(files_received) == 0:
    print("\n!!! NO FILES RECEIVED !!!")
    
for file in files_received:
    print(f"{file} - {type(data[file])}")

companies - <class 'pandas.core.frame.DataFrame'>
customers - <class 'pandas.core.frame.DataFrame'>
drivers - <class 'pandas.core.frame.DataFrame'>
moves - <class 'pandas.core.frame.DataFrame'>
orders - <class 'pandas.core.frame.DataFrame'>
stops - <class 'pandas.core.frame.DataFrame'>
tractors - <class 'pandas.core.frame.DataFrame'>
trailers - <class 'pandas.core.frame.DataFrame'>

### Validation for each file

#### Drivers File

In [8]:
driver_df = data['drivers']

print(driver_df.info(verbose = True))
print("\n")
print("TYPE_OF - COUNTS")
print(driver_df['type_of'].value_counts())
print("\n")
print('COUNTRY_HOS_RULES - COUNTS')
print(driver_df['country_hos_rules'].value_counts())
print("\n")
print('GROUP_ID - COUNTS')
print(driver_df['group_id'].value_counts())
print("\n")
print('DRIVERS WITH ONDUTY HOURS OUTSIDE NORM')
avl_onduty_hours_df = driver_df[(driver_df['avl_onduty_hours'] < 0) | (driver_df['avl_onduty_hours'] > 14)]
print(avl_onduty_hours_df[['avl_onduty_hours']])
print('\n')
print('DRIVERS WITH AVALABLE DRIVER HOURS OUTSIDE NORM')
avl_drive_hours_df = driver_df[(driver_df['avl_drive_hours'] < 0) | (driver_df['avl_drive_hours'] > 11)]
print(avl_drive_hours_df[['avl_drive_hours']])
print('\n')
print("TERMINATED DRIVERS WITH TRUE ACTIVE STATUS")
terminated_drivers_df = driver_df[(driver_df['termination_date'] > driver_df['hire_date'])]
print(terminated_drivers_df[['is_active', 'termination_date', 'hire_date']].loc[terminated_drivers_df['is_active'] == True])
print('\n')
print("REHIRED DRIVERS WITH FALSE ACTIVE STATUS")
rehired_drivers_df = driver_df[(driver_df['termination_date'] < driver_df['hire_date'])]
print(rehired_drivers_df[['is_active', 'termination_date', 'hire_date']].loc[rehired_drivers_df['is_active'] == False])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                316 non-null    object
 1   tanks_endorsement    316 non-null    bool
 2   __currentMovementId  316 non-null    int64
 3   avl_onduty_hours     266 non-null    float64
 4   first_name           316 non-null    object
 5   avl_as_of_date       266 non-null    object
 6   hire_date            316 non-null    object
 7   fleet_manager        313 non-null    object
 8   city                 316 non-null    object
 9   name                 316 non-null    object
 10  longitude            316 non-null    float64
 11  currenteqpgrpid      316 non-null    object
 12  event_status         266 non-null    object
 13  license_date         316 non-null    object
 14  zip                  316 non-null    int64
 15  is_active            316 non-null    bool
 16  pta_date             316 non-null    object
 17  group_id             316 non-null    object
 18  type_of              316 non-null    object
 19  country_hos_rules    316 non-null    object
 20  hazmat_certified     316 non-null    bool
 21  last_home_date       163 non-null    object
 22  avl_drive_hours      267 non-null    float64
 23  doubles_certified    316 non-null    bool
 24  dri_uid              316 non-null    int64
 25  termination_date     120 non-null    object
 26  id                   316 non-null    object
 27  company_id           316 non-null    object
 28  event_date           266 non-null    object
 29  latitude             316 non-null    float64
dtypes: bool(4), float64(4), int64(3), object(19)
memory usage: 65.5+ KB
None


TYPE_OF - COUNTS
C    241
O     75
Name: type_of, dtype: int64


COUNTRY_HOS_RULES - COUNTS
U    316
Name: country_hos_rules, dtype: int64


GROUP_ID - COUNTS
FLLOCAL     122
PO           37
WILOCAL      25
HARR         23
FLOTR        21
OTRO         20
FLOO         18
HOOD         12
WIOTR         8
QUAK          7
SCOTTSTX      7
LIVEFLR       4
GA            3
SCI           3
MARONDA       3
WITANKER      2
COLO          1
Name: group_id, dtype: int64


DRIVERS WITH ONDUTY HOURS OUTSIDE NORM
     avl_onduty_hours
173              16.0


DRIVERS WITH AVALABLE DRIVER HOURS OUTSIDE NORM
Empty DataFrame
Columns: [avl_drive_hours]
Index: []


TERMINATED DRIVERS WITH TRUE ACTIVE STATUS
     is_active           termination_date                  hire_date
173       True  2020-04-14 04:00:00+00:00  2015-02-18 05:00:00+00:00


REHIRED DRIVERS WITH FALSE ACTIVE STATUS
Empty DataFrame
Columns: [is_active, termination_date, hire_date]
Index: []

#### Moves File

In [9]:
moves_df = data['moves']

print(moves_df.info(verbose = True))
print("\n")
print('MOVE_STATUS - COUNTS')
print(moves_df['move_status'].value_counts())
print("\n")
print('LOADED - COUNTS')
print(moves_df['loaded'].value_counts())
print("\n")
print('ORDER_ID - BLANKS')
order_id_df = moves_df['order_id'].isnull()
print(order_id_df)
print("\n")
print('PRORATED_REVENUE - NEGATIVE')
prorated_revenue_df = moves_df[(moves_df['prorated_revenue'] < 0)]
print(prorated_revenue_df[['prorated_revenue']])
print("\n")
print('BROKERAGE - COUNTS')
print(moves_df['brokerage'].value_counts())
print("\n")
print('MOVE_DISTANCE - OUT OF BOUNDS (<0 OR >4000)')
move_distance_df = moves_df[(moves_df['move_distance'] < 0)|(moves_df['move_distance'] > 4000)]
print(move_distance_df[['move_distance']])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291656 entries, 0 to 291655
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   trailer_id        115677 non-null  object
 1   tractor_id        144273 non-null  object
 2   move_status       291656 non-null  object
 3   loaded            291656 non-null  object
 4   brokerage         291656 non-null  bool
 5   order_id          286624 non-null  float64
 6   driver_id         144254 non-null  object
 7   id                291656 non-null  int64
 8   is_preassignment  144254 non-null  object
 9   prorated_revenue  211464 non-null  float64
 10  move_distance     291643 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 22.5+ MB
None


MOVE_STATUS - COUNTS
D    290942
P       574
A       140
Name: move_status, dtype: int64


LOADED - COUNTS
L    211482
E     80174
Name: loaded, dtype: int64


ORDER_ID - BLANKS
0         False
1         False
2         False
3         False
4         False
          ...
291651    False
291652    False
291653    False
291654    False
291655    False
Name: order_id, Length: 291656, dtype: bool


PRORATED_REVENUE - NEGATIVE
Empty DataFrame
Columns: [prorated_revenue]
Index: []


BROKERAGE - COUNTS
True     147292
False    144364
Name: brokerage, dtype: int64


MOVE_DISTANCE - OUT OF BOUNDS (<0 OR >4000)
        move_distance
3245           4452.0
21666          4286.0
29495          4306.0
48036          4176.0
48187          4696.0
70115          4928.0
85048          4406.0
106208         4263.0
106276         4307.0
110726         4469.0
126979         4160.0
128736        21491.0
130931         4304.0
134195         4080.0
152635         4068.0
152679         4015.0
177774         4338.0
197052         4356.0
197053         4221.0
203590         4424.0
220487         4443.0
220669         4866.0
228822         5594.0
261945         4633.0
262433         4725.0

#### Orders File

In [10]:
orders_df = data['orders']

print(orders_df.info(verbose = True))
print("\n")
print('STATUS - COUNTS')
print(orders_df['status'].value_counts())
print("\n")
print('COMMODITY_ID - COUNTS')
print(orders_df['commodity_id'].value_counts())
print("\n")
print('REVENUE_CODE_ID - COUNTS')
print(orders_df['revenue_code_id'].value_counts())
print("\n")
print('CUSTOMER_ID - BLANKS')
print(orders_df[orders_df['customer_id'].isnull()])
print('\n')
print('CUSTOMER_ID - COUNTS TOP 10')
print(orders_df['customer_id'].value_counts().head(10))
print("\n")
print('CUSTOMER_ID - BL')
print(orders_df['customer_id'].value_counts())
print("\n")
print('ORDERED_DATE - BLANKS')
print(orders_df[orders_df['ordered_date'].isnull()])
print("\n")
print('BILL_DISTANCE - OUT OF BOUNDS (<0 OR >4000)')
print(orders_df[(orders_df['bill_distance'] < 0)|(orders_df['bill_distance'] > 4000)])
print("\n")
print('FREIGHT_CHARGE - NEGATIVE')
print(orders_df[orders_df['freight_charge'] < 0])
print("\n")
print('OTHERCHARGETOTAL - NEGATIVE')
print(orders_df[orders_df['otherchargetotal'] < 0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201305 entries, 0 to 201304
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ordered_date      201305 non-null  object
 1   revenue_code_id   201301 non-null  object
 2   freight_charge    201305 non-null  float64
 3   status            201305 non-null  object
 4   weight            201302 non-null  float64
 5   bill_distance     201304 non-null  float64
 6   entered_user_id   201305 non-null  object
 7   id                201305 non-null  int64
 8   pallets_how_many  12794 non-null   float64
 9   customer_id       201305 non-null  object
 10  commodity_id      168737 non-null  object
 11  otherchargetotal  201305 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 18.4+ MB
None


STATUS - COUNTS
D    200536
P       605
A       130
V        34
Name: status, dtype: int64


COMMODITY_ID - COUNTS
WATER       30609
PRODUCE     17059
PLASTBOT     8358
LAWNGARD     8296
DRYGOODS     7238
            ...
WALMFTF1        1
STARPLF3        1
CEMEBRFL        1
33993ZIP        1
1HC             1
Name: commodity_id, Length: 261, dtype: int64


REVENUE_CODE_ID - COUNTS
HQ       121872
FLL       25841
TPA2      12041
QUAK       6206
HARR       5852
WIL        5772
OTR        4307
CLV        3844
PHL        2834
PO         2335
TLLOG      2089
GNR        2078
HOOD       1156
LIVE       1035
WIT         819
SCI         805
CIN         622
MRYAN       507
OHREP       356
SCOTT       310
ASLT        308
HOMES       252
COLO         60
Name: revenue_code_id, dtype: int64


CUSTOMER_ID - BLANKS
Empty DataFrame
Columns: [ordered_date, revenue_code_id, freight_charge, status, weight, bill_distance, entered_user_id, id, pallets_how_many, customer_id, commodity_id, otherchargetotal]
Index: []


CUSTOMER_ID - COUNTS TOP 10
NIAGARCA    23335
PUBLIXFL    13189
SCOTTSOH     6387
HARRELFL     5833
PEPSICOH     5797
WESTROOH     5114
MILLERI1     4523
CNHAMEWI     4122
HALYARGA     4029
DOMINOFL     3642
Name: customer_id, dtype: int64


CUSTOMER_ID - BL
NIAGARCA    23335
PUBLIXFL    13189
SCOTTSOH     6387
HARRELFL     5833
PEPSICOH     5797
            ...
MOELLEOH        1
WESTERCA        1
MCKANNGA        1
REVOLUOH        1
QUALITM1        1
Name: customer_id, Length: 979, dtype: int64


ORDERED_DATE - BLANKS
Empty DataFrame
Columns: [ordered_date, revenue_code_id, freight_charge, status, weight, bill_distance, entered_user_id, id, pallets_how_many, customer_id, commodity_id, otherchargetotal]
Index: []


BILL_DISTANCE - OUT OF BOUNDS (<0 OR >4000)
                     ordered_date revenue_code_id  freight_charge status  \
3253    2021-01-25 15:21:00+00:00              HQ        18900.00      D
8628    2021-02-11 16:15:00+00:00            TPA2         7900.00      D
14663   2021-02-15 14:06:00+00:00              HQ        17938.08      D
22492   2021-03-12 21:44:00+00:00              HQ        18750.00      D
34349   2021-04-05 21:38:00+00:00              HQ        18361.00      D
34500   2021-04-06 14:24:00+00:00              HQ        19534.00      D
49906   2021-05-10 15:58:00+00:00              HQ        20763.00      D
57969   2021-05-18 13:17:00+00:00              HQ        19563.18      D
72884   2021-06-14 15:46:00+00:00              HQ        19185.00      D
72952   2021-06-15 13:49:00+00:00              HQ        18230.00      D
77402   2021-06-29 15:01:00+00:00              HQ        19567.00      D
87513   2021-06-29 14:56:00+00:00              HQ        17899.15      D
91465   2021-07-27 21:24:00+00:00              HQ        18782.50      D
94729   2021-08-05 18:07:00+00:00              HQ        19001.19      D
106725  2021-08-26 17:06:00+00:00              HQ        17610.85      D
106769  2021-08-26 17:49:00+00:00              HQ            0.00      D
113972  2021-09-21 18:14:00+00:00             FLL        13986.00      D
123451  2020-09-21 16:56:00+00:00              HQ        16900.00      D
136327  2020-10-15 21:56:00+00:00              HQ        18944.39      D
136328  2020-10-15 22:03:00+00:00              HQ        19330.30      D
142221  2020-11-09 16:59:00+00:00              HQ         7605.83      D
142865  2020-11-11 14:44:00+00:00              HQ        18638.00      D
143635  2020-11-13 15:21:00+00:00              HQ         3585.00      D
153754  2020-12-04 19:24:00+00:00              HQ        17892.46      D
153936  2020-12-05 00:24:00+00:00              HQ        19076.00      D
155516  2020-12-10 19:50:00+00:00             GNR          247.00      D
159649  2020-12-16 21:48:00+00:00             OTR        13860.00      D
172530  2021-09-14 15:28:00+00:00              HQ        18985.35      D
175514  2021-09-23 14:37:00+00:00            TPA2         2306.48      D
183608  2021-09-21 17:57:00+00:00             FLL        14029.16      D
187540  2021-10-12 14:13:00+00:00              HQ        18605.00      D

         weight  bill_distance entered_user_id      id  pallets_how_many  \
3253    40000.0         4748.0        elizabet  679227               NaN
8628    42500.0         4063.0        georgeba  685386               NaN
14663   40000.0         4435.0        elizabet  686105               NaN
22492   40000.0         4539.0        elizabet  696341               NaN
34349   40000.0         4542.0        GRANTKEY  704979               NaN
34500   40000.0         4911.0        GRANTKEY  705151               NaN
49906   40000.0         5089.0        elizabet  717893               NaN
57969   40000.0         4537.0        elizabet  721207               NaN
72884   40000.0         4527.0        elizabet  733018               NaN
72952   40000.0         4469.0        elizabet  733400               NaN
77402   40000.0         4678.0        elizabet  739544               NaN
87513   40000.0         4508.0        elizabet  739538               NaN
91465   40000.0         4579.0        elizabet  751661               NaN
94729   40000.0         4277.0        elizabet  755590               NaN
106725  40000.0         4288.0        elizabet  764860               NaN
106769  40000.0         4157.0        elizabet  764909               NaN
113972   4000.0         4633.0        AMYMEIFE  284125               NaN
123451  40000.0         4577.0        elizabet  638070               NaN
136327  40000.0         4488.0        elizabet  646802               NaN
136328  40000.0         4265.0        elizabet  646803               NaN
142221  28297.0        26207.0        stephani  654616               NaN
142865  40000.0         4688.0        elizabet  655350               NaN
143635  40000.0         4080.0        elizabet  656320               NaN
153754  40000.0         4751.0        elizabet  663231               NaN
153936  40000.0         5253.0        elizabet  663430               NaN
155516  46500.0        24740.0        loganmid  665213               NaN
159649   4000.0         5594.0        AMYMEIFE  244443               NaN
172530  40000.0         4017.0        HILKASTA  772764               NaN
175514  25590.0         4858.0        MATTSEMA  776973              15.0
183608   4000.0         4725.0        AMYMEIFE  284120               NaN
187540  40000.0         4030.0        elizabet  784561               NaN

       customer_id commodity_id  otherchargetotal
3253      NORWALOH    FURNITURE              0.00
8628      SUNCITFL      PRODUCE           -100.00
14663     NORWALOH    FURNITURE              0.00
22492     NORWALOH    FURNITURE              0.00
34349     NORWALOH    FURNITURE              0.00
34500     NORWALOH    FURNITURE              0.00
49906     NORWALOH    FURNITURE              0.00
57969     NORWALOH    FURNITURE              0.00
72884     NORWALOH    FURNITURE              0.00
72952     NORWALOH    FURNITURE              0.00
77402     NORWALOH    FURNITURE              0.00
87513     NORWALOH    FURNITURE              0.00
91465     NORWALOH    FURNITURE              0.00
94729     NORWALOH    FURNITURE              0.00
106725    NORWALOH    FURNITURE              0.00
106769    NORWALOH    FURNITURE              0.00
113972    FLORIDF4          NaN           2038.52
123451    NORWALOH    FURNITURE              0.00
136327    NORWALOH    FURNITURE              0.00
136328    NORWALOH    FURNITURE              0.00
142221    PUBLIXFL      PRODUCE            578.31
142865    NORWALOH    FURNITURE              0.00
143635    NEXTGENC    PLASTFILM           8387.38
153754    NORWALOH    FURNITURE              0.00
153936    NORWALOH    FURNITURE              0.00
155516    FORESTFL          NaN              0.00
159649    TULANELA     DRYGOODS           2328.48
172530    NORWALOH    FURNITURE              0.00
175514    ALDIINIL     FOODMISC            310.06
183608    USFATHFL          NaN           2079.00
187540    NORWALOH    FURNITURE              0.00


FREIGHT_CHARGE - NEGATIVE
Empty DataFrame
Columns: [ordered_date, revenue_code_id, freight_charge, status, weight, bill_distance, entered_user_id, id, pallets_how_many, customer_id, commodity_id, otherchargetotal]
Index: []


OTHERCHARGETOTAL - NEGATIVE
                     ordered_date revenue_code_id  freight_charge status  \
1422    2021-01-19 18:44:00+00:00            TPA2         7400.00      D
1652    2021-01-20 14:18:00+00:00             GNR          435.00      D
1826    2021-01-20 17:01:00+00:00            TPA2         6300.00      D
1999    2021-01-20 20:04:00+00:00              HQ          759.00      D
2088    2021-01-20 22:22:00+00:00              HQ         7700.00      D
...                           ...             ...             ...    ...
200148  2021-10-27 15:22:00+00:00           SCOTT         2754.00      D
200150  2021-11-02 16:35:00+00:00           SCOTT         2532.93      D
201093  2021-10-27 16:47:00+00:00           SCOTT         2532.95      D
201097  2021-11-04 15:34:00+00:00           SCOTT         2754.00      D
201283  2021-11-09 15:33:00+00:00            COLO         3119.52      D

         weight  bill_distance entered_user_id      id  pallets_how_many  \
1422    42500.0         2484.0        georgeba  677241               NaN
1652    48000.0           67.0        loganmid  677519               NaN
1826    42500.0         2324.0        georgeba  677702               NaN
1999    40000.0          111.0        elizabet  677887               NaN
2088    43500.0         2765.0        jamesbar  677989               NaN
...         ...            ...             ...     ...               ...
200148  41258.0         1052.0        LOADMAST  289386               NaN
200150  40873.0         1134.0        LOADMAST  290227               NaN
201093  38955.0         1134.0        LOADMAST  289404               NaN
201097  40596.0         1052.0        LOADMAST  290540               NaN
201283  44000.0          300.0        TIFFANYW  291163               NaN

       customer_id commodity_id  otherchargetotal
1422      SUNCITFL      PRODUCE           -100.00
1652      NUCORFFL          NaN             -2.24
1826      SUNCITFL      PRODUCE           -100.00
1999      AGPOLYNY    PLASTICAR           -100.00
2088      PRODUCF1      PRODUCE           -950.00
...            ...          ...               ...
200148    REEDTR29     LAWNGARD           -408.04
200150    REEDTR29     LAWNGARD           -408.04
201093    REEDTR29     LAWNGARD           -433.45
201097    REEDTR29     LAWNGARD           -433.45
201283    COLOMEFL    COSMETICS           -132.10

[1023 rows x 12 columns]

#### Stops File

In [11]:
stops_df = data['stops']

print(stops_df.info(verbose = True))
print("\n")
print('ACTUAL_ARRIVAL - BLANKS')
actual_arrival_df = stops_df[stops_df['actual_arrival'].isnull()]
print(actual_arrival_df[['actual_arrival']])
print("\n")
print('ACTUAL_DEPARTURE - BLANKS')
actual_departure_df = stops_df[stops_df['actual_departure'].isnull()]
print(actual_departure_df[['actual_departure']])
print("\n")
print('STOP_TYPE - COUNTS')
print(stops_df['stop_type'].value_counts())
print("\n")
print('SCHED_ARRIVE_EARLY - BLANKS')
sched_arrive_early_df = stops_df[stops_df['sched_arrive_early'].isnull()]
print(sched_arrive_early_df[['sched_arrive_early']])
print("\n")
print('SCHED_ARRIVE_LATE - BLANKS')
sched_arrive_late_df = stops_df[stops_df['sched_arrive_late'].isnull()]
print(sched_arrive_late_df[['sched_arrive_late']])
print("\n")
print('ZIP_CODE - BLANKS')
zip_code_blank_df = stops_df[stops_df['zip_code'].isnull()]
print(zip_code_blank_df[['zip_code']])
print("\n")
print('ZIP_CODE - INCORRECT FORMAT - Too Short')
zip_code_short_df = stops_df[(stops_df['zip_code'].str.len() < 5)]
print(zip_code_short_df[['zip_code']])
print("\n")
print('ZIP_CODE - INCORRECT FORMAT - Too Long')
zip_code_partition_hyphen_df = stops_df['zip_code'].str.partition('-')
zip_code_long_df = zip_code_partition_hyphen_df[(zip_code_partition_hyphen_df[0].str.len() > 5)]
zip_code_long_df = zip_code_long_df.rename(columns={0: 'zip_code'})
print(zip_code_long_df[['zip_code']])
print("\n")
print('ZIP_CODE - INCORRECT FORMAT - Non-numeric Characters')
zip_code_no_hyphen_df = stops_df['zip_code'].str.replace('-', '')
zip_code_alpha_df = zip_code_no_hyphen_df[zip_code_no_hyphen_df.str.isnumeric() == False]
print(zip_code_alpha_df)
print("\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656026 entries, 0 to 656025
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   state               656026 non-null  object
 1   sched_arrive_early  656026 non-null  object
 2   order_sequence      615618 non-null  float64
 3   movement_sequence   656026 non-null  int64
 4   address             649503 non-null  object
 5   actual_departure    654978 non-null  object
 6   address2            100572 non-null  object
 7   sched_arrive_late   542049 non-null  object
 8   driver_load_unload  656026 non-null  object
 9   stop_type           656026 non-null  object
 10  zip_code            655070 non-null  object
 11  city_name           656026 non-null  object
 12  actual_arrival      655089 non-null  object
 13  order_id            495678 non-null  float64
 14  move_id             656026 non-null  int64
 15  id                  656026 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 80.1+ MB
None


ACTUAL_ARRIVAL - BLANKS
       actual_arrival
109208            NaN
109209            NaN
174433            NaN
302782            NaN
302783            NaN
...               ...
656021            NaN
656022            NaN
656023            NaN
656024            NaN
656025            NaN

[937 rows x 1 columns]


ACTUAL_DEPARTURE - BLANKS
       actual_departure
109208              NaN
109209              NaN
174433              NaN
302782              NaN
302783              NaN
...                 ...
656021              NaN
656022              NaN
656023              NaN
656024              NaN
656025              NaN

[1048 rows x 1 columns]


STOP_TYPE - COUNTS
SO    331925
PU    303289
SD     10250
SP     10243
RP       315
VA         4
Name: stop_type, dtype: int64


SCHED_ARRIVE_EARLY - BLANKS
Empty DataFrame
Columns: [sched_arrive_early]
Index: []


SCHED_ARRIVE_LATE - BLANKS
       sched_arrive_late
0                    NaN
1                    NaN
173                  NaN
276                  NaN
556                  NaN
...                  ...
655985               NaN
656004               NaN
656005               NaN
656006               NaN
656007               NaN

[113977 rows x 1 columns]


ZIP_CODE - BLANKS
       zip_code
2080        NaN
2081        NaN
2995        NaN
3325        NaN
5310        NaN
...         ...
641863      NaN
641864      NaN
646975      NaN
655914      NaN
655915      NaN

[956 rows x 1 columns]


ZIP_CODE - INCORRECT FORMAT - Too Short
       zip_code
345537        1
345539        1
345541        1
345543        1


ZIP_CODE - INCORRECT FORMAT - Too Long
         zip_code
251        M9W5V9
1442    543110001
1444    543110001
1446    543110001
1448    543110001
...           ...
632736  466011033
633145  852834465
633252  550449522
633903  339668400
634663  303391922

[880 rows x 1 columns]


ZIP_CODE - INCORRECT FORMAT - Non-numeric Characters
251       M9W5V9
2350      L3R5X9
2360      L3R5X9
8245      M9W5V9
9320      M9W5V9
           ...
566627    M9W5V9
610499    M9W5V9
610842    M9W5V9
620906    M9W5V9
628789    M9W5V9
Name: zip_code, Length: 106, dtype: object

#### Tractors File

#### Trailers File